@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For AppBar */
.draggable {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

.undraggable {
    -webkit-app-region: no-drag;
  }

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('./assets/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif, 'bold';
  src: url('./assets/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins', sans-serif, 'medium';
  src: url('./assets/Poppins-Medium.ttf');
}

/* Layout style sheet */
@layer base {
  body {
    @apply bg-primary-500 text-accent-grey scrollbar-hide font-poppins font-normal text-sm
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-white
  }
}




@layer components {
  .progress-circle {
    @apply w-full text-white mt-12 z-10
  }
}
  
  